# Predicting Employees Attrition

In this activity, you will apply your knowledge of deep learning models to predict whether an employee is likely to depart from a company.

## Instructions:

The steps for this activity are broken out into the following sections:

* Preprocess the data.

* Create a neural network model to predict employee attrition.

* Train and evaluate the neural network model.


#### Preprocess the Data 

1. Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

2. Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

3. Create a list of categorical variables.

> **Rewind** The Pandas DataFrame `dtypes` property returns a Pandas Series that displays the data type of each column. The column name is the index. You can create the list of categorical variables manually. Or, you can use Pandas filtering. For more detail about the filtering process, review the [`dtypes` documentation at Pandas API reference](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html).

4. Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

5. Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

> **Note** To complete this step, you will employ the Pandas `concat()` function, which was introduced earlier in the course. Recall that we use the `concat` function to combine data from different DataFrames into a new DataFrame. In this case, you’ll use `concat` to create a new DataFrame containing the preprocessed data. You can learn more about the `concat` function in [this section of the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html).

6. Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`. 
    
7. Create the training and testing sets using the `train_test_split` function from scikit-learn.

8. Use scikit-learn’s `StandardScaler` to standardize the numerical features.

#### Create a Neural Network Model to Predict Employee Attrition

1. Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

2. Display the structure of your model using the `summary` function.

3. Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.


#### Train and Evaluate the Neural Network Model

1. Train (fit) the neural network model. Use the training data and set 100 epochs.

2. Evaluate the model using the test data to determine its loss and accuracy.


## References:

[Keras Sequential model](https://keras.io/api/models/sequential/)

[Keras Dense module](https://keras.io/api/layers/core_layers/dense/)

[Keras evaluate](https://keras.io/api/models/model_training_apis/)

[SKLearn OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Preprocess the data.

### Step 1: Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

In [2]:
# Import HR-Employee-Attrition.csv to Google Colab
from google.colab import files
uploaded = files.upload()

Saving HR-Employee-Attrition.csv to HR-Employee-Attrition.csv

In [3]:
# Read the HR-Employee-Attrition.csv file into a Pandas DataFrame
employee_df = pd.read_csv("HR-Employee-Attrition.csv")

### Step 2: Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

In [4]:
# Review the DataFrame
employee_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
# Review the data types associated with the columns
employee_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Step 3: Create a list of categorical variables.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(employee_df.dtypes[employee_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

### Step 4: Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

In [7]:
# Imports
from sklearn.preprocessing import OneHotEncoder

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Encode categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(employee_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
# The column names should match those of the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Display the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 5: Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

In [10]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = employee_df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,1,1,2,94,3,2,...,1,80,0,8,0,1,6,4,0,5
1,49,279,8,1,1,2,3,61,2,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1373,2,2,1,4,4,92,2,1,...,2,80,0,7,3,3,0,0,0,0
3,33,1392,3,4,1,5,4,56,3,1,...,3,80,0,8,3,3,8,7,3,0
4,27,591,2,1,1,7,1,40,3,1,...,4,80,1,6,3,3,2,2,2,2

In [11]:
# Using the Pandas concat function, combine the DataFrames the contain the encoded categorical data and the numerical data
attition_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Reveiw the DataFrame
attition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 6: Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`.

In [12]:
# Define the target set y using the Attrition_Yes column
y = attition_df["Attrition_Yes"]

# Display a sample of y
y[:5]

0    1.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: Attrition_Yes, dtype: float64

In [13]:
# Define features set X by selecting all columns but Attrition_Yes and Attrition_No
X = attition_df.drop(columns=["Attrition_Yes", "Attrition_No"])

# Review the features DataFrame
X.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 7: Create the training and testing sets using the `train_test_split` function from scikit-learn.

In [14]:
# Split the data into training and testing datasets
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 8: Use scikit-learn’s `StandardScaler` to standardize the numerical features.

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Create a Neural Network Model to Predict Employee Attrition

### Step 1: Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

In [16]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Define the number of hidden nodes for the first hidden layer
# Use the mean of the number of input features plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Define the number of hidden nodes for the second hidden layer
# Use the mean of the number of hidden nodes in the first hidden layer plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Create the Sequential model instance
nn = Sequential()

# Add the first hidden layer specifying the number of inputs, the number of hidden nodes, and the activation function
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer specifying the number of hidden nodes and the activation function
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

### Step 2: Display the structure of your model using the `summary` function.

In [17]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 28)                1568

 dense_1 (Dense)             (None, 14)                406

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 1,989
Trainable params: 1,989
Non-trainable params: 0
_________________________________________________________________

### Step 3: Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.

In [18]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

---

## Train and Evaluate the Neural Network Model

### Step 1: Train (fit) the neural network model. Use the training data and set 100 epochs.

In [19]:
# Fit the model using 100 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 4ms/step - loss: 0.7934 - accuracy: 0.4483
Epoch 2/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4904 - accuracy: 0.8094
Epoch 3/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4155 - accuracy: 0.8512
Epoch 4/100
35/35 [==============================] - 0s 7ms/step - loss: 0.3797 - accuracy: 0.8575
Epoch 5/100
35/35 [==============================] - 0s 4ms/step - loss: 0.3520 - accuracy: 0.8657
Epoch 6/100
35/35 [==============================] - 0s 5ms/step - loss: 0.3291 - accuracy: 0.8775
Epoch 7/100
35/35 [==============================] - 0s 3ms/step - loss: 0.3093 - accuracy: 0.8811
Epoch 8/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2933 - accuracy: 0.8893
Epoch 9/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2780 - accuracy: 0.8929
Epoch 10/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2669 - accuracy: 0.8975
Epoch 11/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2568 - accuracy: 0.9029
Epoch 12/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2483 - accuracy: 0.9074
Epoch 13/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2388 - accuracy: 0.9111
Epoch 14/100
35/35 [==============================] - 0s 6ms/step - loss: 0.2319 - accuracy: 0.9120
Epoch 15/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2248 - accuracy: 0.9174
Epoch 16/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2185 - accuracy: 0.9165
Epoch 17/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2128 - accuracy: 0.9220
Epoch 18/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2089 - accuracy: 0.9211
Epoch 19/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2006 - accuracy: 0.9238
Epoch 20/100
35/35 [==============================] - 0s 4ms/step - loss: 0.1949 - accuracy: 0.9265
Epoch 21/100
35/35 [==============================] - 0s 4ms/step - loss: 0.1885 - accuracy: 0.9310
Epoch 22/100
35/35 [==============================] - 0s 6ms/step - loss: 0.1845 - accuracy: 0.9319
Epoch 23/100
35/35 [==============================] - 0s 4ms/step - loss: 0.1783 - accuracy: 0.9374
Epoch 24/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1736 - accuracy: 0.9356
Epoch 25/100
35/35 [==============================] - 0s 6ms/step - loss: 0.1687 - accuracy: 0.9383
Epoch 26/100
35/35 [==============================] - 0s 8ms/step - loss: 0.1653 - accuracy: 0.9437
Epoch 27/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1608 - accuracy: 0.9465
Epoch 28/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1543 - accuracy: 0.9492
Epoch 29/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1488 - accuracy: 0.9510
Epoch 30/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1444 - accuracy: 0.9510
Epoch 31/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1404 - accuracy: 0.9574
Epoch 32/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1354 - accuracy: 0.9555
Epoch 33/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1324 - accuracy: 0.9564
Epoch 34/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1270 - accuracy: 0.9583
Epoch 35/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1220 - accuracy: 0.9592
Epoch 36/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1185 - accuracy: 0.9628
Epoch 37/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1141 - accuracy: 0.9637
Epoch 38/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1099 - accuracy: 0.9655
Epoch 39/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1050 - accuracy: 0.9673
Epoch 40/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1012 - accuracy: 0.9673
Epoch 41/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0973 - accuracy: 0.9691
Epoch 42/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0945 - accuracy: 0.9710
Epoch 43/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0904 - accuracy: 0.9701
Epoch 44/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0858 - accuracy: 0.9755
Epoch 45/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0841 - accuracy: 0.9728
Epoch 46/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0787 - accuracy: 0.9791
Epoch 47/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0765 - accuracy: 0.9800
Epoch 48/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0725 - accuracy: 0.9828
Epoch 49/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0711 - accuracy: 0.9846
Epoch 50/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0671 - accuracy: 0.9837
Epoch 51/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0644 - accuracy: 0.9855
Epoch 52/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0620 - accuracy: 0.9837
Epoch 53/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0588 - accuracy: 0.9873
Epoch 54/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0555 - accuracy: 0.9882
Epoch 55/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0527 - accuracy: 0.9891
Epoch 56/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0501 - accuracy: 0.9882
Epoch 57/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0480 - accuracy: 0.9918
Epoch 58/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0469 - accuracy: 0.9927
Epoch 59/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0432 - accuracy: 0.9927
Epoch 60/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0417 - accuracy: 0.9946
Epoch 61/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0397 - accuracy: 0.9936
Epoch 62/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0375 - accuracy: 0.9964
Epoch 63/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0348 - accuracy: 0.9964
Epoch 64/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0331 - accuracy: 0.9982
Epoch 65/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0325 - accuracy: 0.9973
Epoch 66/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0304 - accuracy: 0.9991
Epoch 67/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0289 - accuracy: 0.9973
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0276 - accuracy: 1.0000
Epoch 69/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0261 - accuracy: 1.0000
Epoch 70/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0252 - accuracy: 1.0000
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0236 - accuracy: 1.0000
Epoch 72/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0226 - accuracy: 1.0000
Epoch 73/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0212 - accuracy: 1.0000
Epoch 74/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0206 - accuracy: 1.0000
Epoch 75/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0193 - accuracy: 1.0000
Epoch 76/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0182 - accuracy: 1.0000
Epoch 77/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0175 - accuracy: 1.0000
Epoch 78/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0165 - accuracy: 1.0000
Epoch 79/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0155 - accuracy: 1.0000
Epoch 80/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0148 - accuracy: 1.0000
Epoch 81/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0141 - accuracy: 1.0000
Epoch 82/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0134 - accuracy: 1.0000
Epoch 83/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0128 - accuracy: 1.0000
Epoch 84/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0123 - accuracy: 1.0000
Epoch 85/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0118 - accuracy: 1.0000
Epoch 86/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 1.0000
Epoch 87/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0105 - accuracy: 1.0000
Epoch 88/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0102 - accuracy: 1.0000
Epoch 89/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0097 - accuracy: 1.0000
Epoch 90/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0093 - accuracy: 1.0000
Epoch 91/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0090 - accuracy: 1.0000
Epoch 92/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0088 - accuracy: 1.0000
Epoch 93/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0081 - accuracy: 1.0000
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0077 - accuracy: 1.0000
Epoch 95/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0076 - accuracy: 1.0000
Epoch 96/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0070 - accuracy: 1.0000
Epoch 97/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0068 - accuracy: 1.0000
Epoch 98/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0065 - accuracy: 1.0000
Epoch 99/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0062 - accuracy: 1.0000
Epoch 100/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0060 - accuracy: 1.0000

### Step 2: Evaluate the model using the test data to determine its loss and accuracy.

In [20]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 1.0900 - accuracy: 0.8098 - 162ms/epoch - 13ms/step
Loss: 1.0899797677993774, Accuracy: 0.8097826242446899