# Predicting Employees Attrition

In this activity, you will apply your knowledge of deep learning models to predict whether an employee is likely to depart from a company.

## Instructions:

The steps for this activity are broken out into the following sections:

* Preprocess the data.

* Create a neural network model to predict employee attrition.

* Train and evaluate the neural network model.


#### Preprocess the Data 

1. Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

2. Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

3. Create a list of categorical variables.

> **Rewind** The Pandas DataFrame `dtypes` property returns a Pandas Series that displays the data type of each column. The column name is the index. You can create the list of categorical variables manually. Or, you can use Pandas filtering. For more detail about the filtering process, review the [`dtypes` documentation at Pandas API reference](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html).

4. Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

5. Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

> **Note** To complete this step, you will employ the Pandas `concat()` function, which was introduced earlier in the course. Recall that we use the `concat` function to combine data from different DataFrames into a new DataFrame. In this case, you’ll use `concat` to create a new DataFrame containing the preprocessed data. You can learn more about the `concat` function in [this section of the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html).

6. Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`. 
    
7. Create the training and testing sets using the `train_test_split` function from scikit-learn.

8. Use scikit-learn’s `StandardScaler` to standardize the numerical features.

#### Create a Neural Network Model to Predict Employee Attrition

1. Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

2. Display the structure of your model using the `summary` function.

3. Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.


#### Train and Evaluate the Neural Network Model

1. Train (fit) the neural network model. Use the training data and set 100 epochs.

2. Evaluate the model using the test data to determine its loss and accuracy.


## References:

[Keras Sequential model](https://keras.io/api/models/sequential/)

[Keras Dense module](https://keras.io/api/layers/core_layers/dense/)

[Keras evaluate](https://keras.io/api/models/model_training_apis/)

[SKLearn OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Preprocess the data.

### Step 1: Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

In [2]:
# Read the HR-Employee-Attrition.csv file from the Resources folder into a Pandas DataFrame
employee_df = # YOUR CODE HERE

### Step 2: Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

In [3]:
# Review the DataFrame
# YOUR CODE HERE

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
# Review the data types associated with the columns
# YOUR CODE HERE

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Step 3: Create a list of categorical variables.

In [5]:
# Create a list of categorical variables 
categorical_variables = # YOUR CODE HERE

# Display the categorical variables list
# YOUR CODE HERE

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

### Step 4: Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

In [6]:
# Imports
from sklearn.preprocessing import OneHotEncoder

In [7]:
# Create a OneHotEncoder instance
enc = # YOUR CODE HERE

# Encode categorcal variables using OneHotEncoder
encoded_data = # YOUR CODE HERE

In [8]:
# Create a DataFrame with the encoded variables
# The column names should match those of the encoded variables
encoded_df = # YOUR CODE HERE

# Display the DataFrame
# YOUR CODE HERE

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 5: Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

In [9]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = # YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,1,1,2,94,3,2,...,1,80,0,8,0,1,6,4,0,5
1,49,279,8,1,1,2,3,61,2,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1373,2,2,1,4,4,92,2,1,...,2,80,0,7,3,3,0,0,0,0
3,33,1392,3,4,1,5,4,56,3,1,...,3,80,0,8,3,3,8,7,3,0
4,27,591,2,1,1,7,1,40,3,1,...,4,80,1,6,3,3,2,2,2,2

In [10]:
# Using the Pandas concat function, combine the DataFrames the contain the encoded categorical data and the numerical data
attition_df = # YOUR CODE HERE

# Reveiw the DataFrame
# YOUR CODE HERE

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 6: Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`.

In [11]:
# Define the target set y using the Attrition_Yes column
y = # YOUR CODE HERE

# Display a sample of y
# YOUR CODE HERE

array([1., 0., 1., 0., 0.])

In [12]:
# Define features set X by selecting all columns but Attrition_Yes and Attrition_No
X = # YOUR CODE HERE

# Review the features DataFrame
# YOUR CODE HERE

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 7: Create the training and testing sets using the `train_test_split` function from scikit-learn.

In [13]:
# Split the data into training and testing datasets
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = # YOUR CODE HERE

### Step 8: Use scikit-learn’s `StandardScaler` to standardize the numerical features.

In [14]:
# Create a StandardScaler instance
scaler = # YOUR CODE HERE

# Fit the scaler to the features training dataset
X_scaler = # YOUR CODE HERE

# Scale both the training and testing data from the features dataset
X_train_scaled = # YOUR CODE HERE
X_test_scaled = # YOUR CODE HERE

---

## Create a Neural Network Model to Predict Employee Attrition

### Step 1: Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = # YOUR CODE HERE

# Define the number of hidden nodes for the first hidden layer
# Use the mean of the number of input features plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer1 =  # YOUR CODE HERE

# Define the number of hidden nodes for the second hidden layer
# Use the mean of the number of hidden nodes in the first hidden layer plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer2 = # YOUR CODE HERE

# Create the Sequential model instance
nn = # YOUR CODE HERE

# Add the first hidden layer specifying the number of inputs, the number of hidden nodes, and the activation function
# YOUR CODE HERE

# Add the second hidden layer specifying the number of hidden nodes and the activation function
# YOUR CODE HERE

# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE

### Step 2: Display the structure of your model using the `summary` function.

In [16]:
# Display the Sequential model summary
# YOUR CODE HERE

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 28)                1568
_________________________________________________________________
dense_1 (Dense)              (None, 14)                406
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 15
=================================================================
Total params: 1,989
Trainable params: 1,989
Non-trainable params: 0
_________________________________________________________________

### Step 3: Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.

In [17]:
# Compile the Sequential model
# YOUR CODE HERE

---

## Train and Evaluate the Neural Network Model

### Step 1: Train (fit) the neural network model. Use the training data and set 100 epochs.

In [18]:
# Fit the model using 100 epochs and the training data
fit_model = # YOUR CODE HERE

Epoch 1/100
35/35 [==============================] - 0s 811us/step - loss: 0.5779 - accuracy: 0.7533
Epoch 2/100
35/35 [==============================] - 0s 676us/step - loss: 0.4490 - accuracy: 0.8478
Epoch 3/100
35/35 [==============================] - 0s 629us/step - loss: 0.3916 - accuracy: 0.8555
Epoch 4/100
35/35 [==============================] - 0s 655us/step - loss: 0.3509 - accuracy: 0.8655
Epoch 5/100
35/35 [==============================] - 0s 623us/step - loss: 0.3436 - accuracy: 0.8623
Epoch 6/100
35/35 [==============================] - 0s 674us/step - loss: 0.2951 - accuracy: 0.8910
Epoch 7/100
35/35 [==============================] - 0s 715us/step - loss: 0.2986 - accuracy: 0.8763
Epoch 8/100
35/35 [==============================] - 0s 680us/step - loss: 0.2765 - accuracy: 0.8869
Epoch 9/100
35/35 [==============================] - 0s 672us/step - loss: 0.2707 - accuracy: 0.8827
Epoch 10/100
35/35 [==============================] - 0s 695us/step - loss: 0.2637 - accuracy: 0.8905
Epoch 11/100
35/35 [==============================] - 0s 664us/step - loss: 0.2533 - accuracy: 0.9040
Epoch 12/100
35/35 [==============================] - 0s 685us/step - loss: 0.2290 - accuracy: 0.9074
Epoch 13/100
35/35 [==============================] - 0s 688us/step - loss: 0.2224 - accuracy: 0.9177
Epoch 14/100
35/35 [==============================] - 0s 708us/step - loss: 0.2358 - accuracy: 0.9074
Epoch 15/100
35/35 [==============================] - 0s 723us/step - loss: 0.2231 - accuracy: 0.9047
Epoch 16/100
35/35 [==============================] - 0s 643us/step - loss: 0.1993 - accuracy: 0.9278
Epoch 17/100
35/35 [==============================] - 0s 696us/step - loss: 0.1858 - accuracy: 0.9371
Epoch 18/100
35/35 [==============================] - 0s 632us/step - loss: 0.1666 - accuracy: 0.9428
Epoch 19/100
35/35 [==============================] - 0s 710us/step - loss: 0.1569 - accuracy: 0.9496
Epoch 20/100
35/35 [==============================] - 0s 622us/step - loss: 0.1730 - accuracy: 0.9418
Epoch 21/100
35/35 [==============================] - 0s 674us/step - loss: 0.1460 - accuracy: 0.9455
Epoch 22/100
35/35 [==============================] - 0s 637us/step - loss: 0.1730 - accuracy: 0.9312
Epoch 23/100
35/35 [==============================] - 0s 693us/step - loss: 0.1472 - accuracy: 0.9493
Epoch 24/100
35/35 [==============================] - 0s 668us/step - loss: 0.1443 - accuracy: 0.9531
Epoch 25/100
35/35 [==============================] - 0s 703us/step - loss: 0.1349 - accuracy: 0.9586
Epoch 26/100
35/35 [==============================] - 0s 635us/step - loss: 0.1543 - accuracy: 0.9418
Epoch 27/100
35/35 [==============================] - 0s 704us/step - loss: 0.1230 - accuracy: 0.9587
Epoch 28/100
35/35 [==============================] - 0s 658us/step - loss: 0.1394 - accuracy: 0.9596
Epoch 29/100
35/35 [==============================] - 0s 708us/step - loss: 0.1253 - accuracy: 0.9614
Epoch 30/100
35/35 [==============================] - 0s 676us/step - loss: 0.1353 - accuracy: 0.9555
Epoch 31/100
35/35 [==============================] - 0s 706us/step - loss: 0.1200 - accuracy: 0.9684
Epoch 32/100
35/35 [==============================] - 0s 692us/step - loss: 0.1273 - accuracy: 0.9579
Epoch 33/100
35/35 [==============================] - 0s 674us/step - loss: 0.1166 - accuracy: 0.9689
Epoch 34/100
35/35 [==============================] - 0s 690us/step - loss: 0.1140 - accuracy: 0.9701
Epoch 35/100
35/35 [==============================] - 0s 664us/step - loss: 0.0894 - accuracy: 0.9766
Epoch 36/100
35/35 [==============================] - 0s 702us/step - loss: 0.0989 - accuracy: 0.9703
Epoch 37/100
35/35 [==============================] - 0s 653us/step - loss: 0.0795 - accuracy: 0.9797
Epoch 38/100
35/35 [==============================] - 0s 715us/step - loss: 0.0951 - accuracy: 0.9725
Epoch 39/100
35/35 [==============================] - 0s 641us/step - loss: 0.0876 - accuracy: 0.9763
Epoch 40/100
35/35 [==============================] - 0s 706us/step - loss: 0.0650 - accuracy: 0.9883
Epoch 41/100
35/35 [==============================] - 0s 657us/step - loss: 0.0777 - accuracy: 0.9865
Epoch 42/100
35/35 [==============================] - 0s 703us/step - loss: 0.0702 - accuracy: 0.9886
Epoch 43/100
35/35 [==============================] - 0s 653us/step - loss: 0.0776 - accuracy: 0.9858
Epoch 44/100
35/35 [==============================] - 0s 693us/step - loss: 0.0674 - accuracy: 0.9866
Epoch 45/100
35/35 [==============================] - 0s 659us/step - loss: 0.0660 - accuracy: 0.9851
Epoch 46/100
35/35 [==============================] - 0s 672us/step - loss: 0.0594 - accuracy: 0.9874
Epoch 47/100
35/35 [==============================] - 0s 643us/step - loss: 0.0549 - accuracy: 0.9886
Epoch 48/100
35/35 [==============================] - 0s 678us/step - loss: 0.0486 - accuracy: 0.9910
Epoch 49/100
35/35 [==============================] - 0s 662us/step - loss: 0.0441 - accuracy: 0.9949
Epoch 50/100
35/35 [==============================] - 0s 724us/step - loss: 0.0451 - accuracy: 0.9906
Epoch 51/100
35/35 [==============================] - 0s 606us/step - loss: 0.0380 - accuracy: 0.9940
Epoch 52/100
35/35 [==============================] - 0s 758us/step - loss: 0.0383 - accuracy: 0.9942
Epoch 53/100
35/35 [==============================] - 0s 682us/step - loss: 0.0413 - accuracy: 0.9947
Epoch 54/100
35/35 [==============================] - 0s 728us/step - loss: 0.0306 - accuracy: 0.9984
Epoch 55/100
35/35 [==============================] - 0s 702us/step - loss: 0.0352 - accuracy: 0.9962
Epoch 56/100
35/35 [==============================] - 0s 666us/step - loss: 0.0278 - accuracy: 0.9992
Epoch 57/100
35/35 [==============================] - 0s 748us/step - loss: 0.0285 - accuracy: 0.9956
Epoch 58/100
35/35 [==============================] - 0s 664us/step - loss: 0.0272 - accuracy: 0.9934
Epoch 59/100
35/35 [==============================] - 0s 715us/step - loss: 0.0234 - accuracy: 0.9977
Epoch 60/100
35/35 [==============================] - 0s 658us/step - loss: 0.0222 - accuracy: 0.9993
Epoch 61/100
35/35 [==============================] - 0s 687us/step - loss: 0.0219 - accuracy: 0.9964
Epoch 62/100
35/35 [==============================] - 0s 656us/step - loss: 0.0193 - accuracy: 0.9994
Epoch 63/100
35/35 [==============================] - 0s 694us/step - loss: 0.0194 - accuracy: 0.9991
Epoch 64/100
35/35 [==============================] - 0s 660us/step - loss: 0.0209 - accuracy: 1.0000
Epoch 65/100
35/35 [==============================] - 0s 691us/step - loss: 0.0178 - accuracy: 1.0000
Epoch 66/100
35/35 [==============================] - 0s 603us/step - loss: 0.0159 - accuracy: 1.0000
Epoch 67/100
35/35 [==============================] - 0s 722us/step - loss: 0.0156 - accuracy: 1.0000
Epoch 68/100
35/35 [==============================] - 0s 694us/step - loss: 0.0126 - accuracy: 1.0000
Epoch 69/100
35/35 [==============================] - 0s 689us/step - loss: 0.0119 - accuracy: 1.0000
Epoch 70/100
35/35 [==============================] - 0s 607us/step - loss: 0.0120 - accuracy: 1.0000
Epoch 71/100
35/35 [==============================] - 0s 815us/step - loss: 0.0105 - accuracy: 1.0000
Epoch 72/100
35/35 [==============================] - 0s 704us/step - loss: 0.0104 - accuracy: 1.0000
Epoch 73/100
35/35 [==============================] - 0s 734us/step - loss: 0.0089 - accuracy: 1.0000
Epoch 74/100
35/35 [==============================] - 0s 696us/step - loss: 0.0089 - accuracy: 1.0000
Epoch 75/100
35/35 [==============================] - 0s 704us/step - loss: 0.0089 - accuracy: 1.0000
Epoch 76/100
35/35 [==============================] - 0s 712us/step - loss: 0.0079 - accuracy: 1.0000
Epoch 77/100
35/35 [==============================] - 0s 770us/step - loss: 0.0078 - accuracy: 1.0000
Epoch 78/100
35/35 [==============================] - 0s 755us/step - loss: 0.0093 - accuracy: 1.0000
Epoch 79/100
35/35 [==============================] - 0s 700us/step - loss: 0.0069 - accuracy: 1.0000
Epoch 80/100
35/35 [==============================] - 0s 711us/step - loss: 0.0065 - accuracy: 1.0000
Epoch 81/100
35/35 [==============================] - 0s 704us/step - loss: 0.0065 - accuracy: 1.0000
Epoch 82/100
35/35 [==============================] - 0s 694us/step - loss: 0.0069 - accuracy: 1.0000
Epoch 83/100
35/35 [==============================] - 0s 718us/step - loss: 0.0058 - accuracy: 1.0000
Epoch 84/100
35/35 [==============================] - 0s 799us/step - loss: 0.0056 - accuracy: 1.0000
Epoch 85/100
35/35 [==============================] - 0s 716us/step - loss: 0.0061 - accuracy: 1.0000
Epoch 86/100
35/35 [==============================] - 0s 737us/step - loss: 0.0051 - accuracy: 1.0000
Epoch 87/100
35/35 [==============================] - 0s 779us/step - loss: 0.0050 - accuracy: 1.0000
Epoch 88/100
35/35 [==============================] - 0s 767us/step - loss: 0.0041 - accuracy: 1.0000
Epoch 89/100
35/35 [==============================] - 0s 721us/step - loss: 0.0045 - accuracy: 1.0000
Epoch 90/100
35/35 [==============================] - 0s 717us/step - loss: 0.0044 - accuracy: 1.0000
Epoch 91/100
35/35 [==============================] - 0s 668us/step - loss: 0.0044 - accuracy: 1.0000
Epoch 92/100
35/35 [==============================] - 0s 688us/step - loss: 0.0039 - accuracy: 1.0000
Epoch 93/100
35/35 [==============================] - 0s 753us/step - loss: 0.0038 - accuracy: 1.0000
Epoch 94/100
35/35 [==============================] - 0s 709us/step - loss: 0.0038 - accuracy: 1.0000
Epoch 95/100
35/35 [==============================] - 0s 682us/step - loss: 0.0031 - accuracy: 1.0000
Epoch 96/100
35/35 [==============================] - 0s 792us/step - loss: 0.0035 - accuracy: 1.0000
Epoch 97/100
35/35 [==============================] - 0s 719us/step - loss: 0.0033 - accuracy: 1.0000
Epoch 98/100
35/35 [==============================] - 0s 758us/step - loss: 0.0033 - accuracy: 1.0000
Epoch 99/100
35/35 [==============================] - 0s 750us/step - loss: 0.0030 - accuracy: 1.0000
Epoch 100/100
35/35 [==============================] - 0s 668us/step - loss: 0.0028 - accuracy: 1.0000

### Step 2: Evaluate the model using the test data to determine its loss and accuracy.

In [19]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 1.1266 - accuracy: 0.8179
Loss: 1.1265584230422974, Accuracy: 0.8179348111152649

### Step 3: Save and export your model to an HDF5 file. Name the file `employee_attrition.h5`.

In [20]:
# Set the model's file path
file_path = Path("../Resources/employee_attrition.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE